<div>
    <row-header row="cabecera"></row-header>
    <div class="body body-xl  fade-in5">
        <section class="secTop" style=" margin-left: -20%; width: 140%;">
            <form action="" class="goplicity-form" ng-show="!mostarFormulario">
                <header>
                    <div>
                        <span>Mi </span> Perfil
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-12 col-sm-12 col-md btn btn-light" style="padding: 3px;"
                            onclick="window.history.back()">
                            Volver
                        </button>
                    </div>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos del Usuario</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.user" ng-disabled="true" />
                            </label>
                        </section>
                        <section class="col col-6" ng-show="false">
                            <label class="label">RUT</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.rut" ng-disabled="true" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Nombre</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Correo</label>
                            <label class="input">
                                <i class="icon-prepend icon-envelope"></i>
                                <input type="email" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.correo" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Telefono</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.telefono" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Contraseña</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="password" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.pass" ng-change="validarCoincidencia()" />
                            </label>
                            <a>La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una
                                minúscula y al menos una mayúscula. Puede tener otros símbolos.</a>
                        </section>
                        <section class="col col-6">
                            <label class="label">Repetir Contraseña</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="password" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.pass2" ng-change="validarCoincidencia()" />
                            </label>
                            <a style="color: {{(color=='red')?'red':'green'}}">{{mensajeContrasena}}</a>
                        </section>
                    </div>
                    <div>
                        <a class="button" ng-click="editar()">Guardar</a>
                    </div>
                </fieldset>
            </form>
        </section>
        <!-- <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="mostarFormulario">
            <form action="" class="goplicity-form">
                <header>
                    <span>Nueva </span> Capacitacion
                    <a class="btnMn back" ng-click="volverInicio()">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos de la capacitacion</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Capacitacion</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.capacitacion" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaCapacitacion track by item.value">
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a class="button" ng-click="agregar()">Agregar</a>
                </footer>
            </form>
        </section> -->
    </div>
    <ag1-alert oalert="alert"></ag1-alert>