.grid h3 {
	font-size: 36px;
	line-height: 48px;
	margin: 20px 0px 20px;;
	font-weight: 300;
	color: #FFF;
	width: 100%;
	text-align: center;
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}
.grid h3 span {
	font-weight: bold;
}

.box {
	padding: 5px;
	width: 300px;
	height: 335px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
}
.box a {
	text-decoration: none;
}

.box:hover {
	background: rgba(255,255,255,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.box h3 {
	font-size: 21px;
	line-height: 24px;
	margin: 0;
	font-weight: 300;
	width: 100%;
	text-align: center;
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}
.box:hover h3 {
	color: #fff;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.box .btnbox {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	width: 80%;
	margin: 10px 10% 0px;
	padding: 15px 0px 0px;
	height: 46px;
	border-radius: 15px;
	background-color: #FFF;
	color: #000;
	font-weight: bold;
	letter-spacing: 1px;
	box-shadow: 0 1px 1px 0 #000000;
}
.box .btnbox span {
	display: block;
	font-weight: 300;
}
.box svg {
	position: absolute;
	top: 0;
	left: 0;
}
.box svg line {
	stroke-width: 3;
	stroke: #ecf0f1;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.box svg line.top,
.box svg line.bottom {
	stroke-dasharray: 330 240; 
}
.box svg line.left,
.box svg line.right {
	stroke-dasharray: 490 400;
}
.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}
.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}
.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}
.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}

/* Frame */
.menubox {
	margin: 100px auto 0px;
}
.menubox .box {
	background: rgba(0,0,0,0);
	color: #fff;
	box-shadow: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.menubox .box:hover {
	background: rgba(0,0,0,0.4);
}

.menubox .box h3,
.menubox .box span {
	-webkit-transition: none;
	transition: none;
}

.menubox .box svg line {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.menubox .box:hover svg line {
	stroke-width: 10;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menubox .box:hover svg line.top {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
}

.menubox .box:hover svg line.bottom {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

.menubox .box:hover svg line.left {
	-webkit-transform: translateY(460px);
	transform: translateY(460px);
}

.menubox .box:hover svg line.right {
	-webkit-transform: translateY(-460px);
	transform: translateY(-460px);
}
.icon-goplicity {
  width: 100%;
	height: 160px;
	margin: 50px 0px;
	text-align: center;
	font-size: 160px;
	line-height: 160px;
	color: #FFF;
	
	/* outline: solid 1px red;  */
}