@font-face {
  font-family: 'goplicity';
  src:  url('../fonts/goplicity.eot?mpfpgs');
  src:  url('../fonts/goplicity.eot?mpfpgs#iefix') format('embedded-opentype'),
    url('../fonts/goplicity.ttf?mpfpgs') format('truetype'),
    url('../fonts/goplicity.woff?mpfpgs') format('woff'),
    url('../fonts/goplicity.svg?mpfpgs#goplicity') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-goplicity {
  font-family: 'goplicity' !important;
}
.icon-agregar:before {
  content: "\e900";
}
.icon-buscar:before {
  content: "\e901";
}
