
/**/
/* reset */
/**/
html, body, header, footer, main, aside, article, section, iframe,
h1, h2, h3, h4, h5, h6, p, hr,
dl, dt, dd, ul, ol, li {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}


/**/
/* defaults */

h1 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 300;
	text-shadow: 3px 3px rgba(0,0,0,0.1);
}
h2 {
	margin-bottom: 50px;
	font-size: 50px;
	line-height: 50px;
	font-weight: 300;
	text-align: center;
}
h3 {
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}
p {
	font-size: 14px;
	line-height: 24px;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
}

a:hover {
	text-decoration: none;
}


/**/
/* layout */
/**/
.headerTop {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);	
}

.headerTop > div {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	height: 70px;
	padding: 10px 0;
}
.headerTop .logo {
  position: absolute;
	top: 10px;
	left: 0;
	display: block;
	height: 40px;
}
.headerTop .logo img {
  height: 100%;
}

/**/
/* main nav */
/**/
.main-nav {
	float: right;
	line-height: 40px;
}
.main-nav a {
	display: block;
	float: left;
	margin-left: 15px;
}
.main-nav a:first-child {
	padding: 0px 10px;
	border: solid 1px #4a72b2;
	border-radius: 10px;
	font-size: 12px;
	text-transform: uppercase;
}
.main-nav a:first-child:hover {
	background-color: #FFF;
	cursor: pointer;
}

.main-nav .active {
	text-decoration: none;
	color: #000;
	cursor: default;
}
.main-nav .active span {
	font-weight: bold;
}

