html,
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
a {
  text-decoration: none;
}

.table {
  zoom: 100%;
}

@media (max-width: 500px) {
	.table {
		zoom: 50%;
	  }
  }
a:hover {
  text-decoration: none;
}
.bg-cyan {
  background-image: url(../img/bg-index.jpg);
}
.bg-orange {
  background-image: url(../img/bg-orange.jpg);
}

.body-rtl {
  display: flex;
  flex-direction: row;
}
.body-ltr {
  display: flex;
}

.body {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}
.body-s {
  max-width: 75%;
}
.body.body-xl {
  max-width: 75%;
}
.body.body-ltr {
  margin: 0px;
}

.body-rtl .body {
  margin: 0px;
  padding: 40px 100px 0px 40px;
}

.modal {
  padding: 25px 30px;
  background: rgba(40, 115, 182, 0.62);
  font: 13px/1.55 "Open Sans", Helvetica, Arial, sans-serif;
  color: #666;
}
.modal a {
  color: #2da5da;
}

@media screen and (max-width: 600px) {
  .body {
    padding: 20px;
  }
}

.bg-cyan {
  background-image: url(../img/bg-index.jpg);
}
.bg-blue {
  background-image: url(../img/bg-blue.jpg);
}

.bg-red {
  background-image: url(../img/bg-red.jpg);
}
