<div class="headerTop" style="    height: 50px;">
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.unab.cl/" class="navbar-brand">
                <img src="img/logo.png" alt="" style="width: 180px;
                height: 60px;
                margin-top: -15px;">
            </a>
            <!-- <a>Hola <span>{{row.user}}</span></a> -->
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="border-block-color: transparent;">
            <ul class="nav navbar-nav navbar-right">
                <li style="cursor: pointer;">
                    <a style="color: #a94442; font-weight: bold;"> Bienvenido {{row.nombre}} </a>
                </li>
                <li style="cursor: pointer;">
                    <a style="border-color: black;" ng-click="irOpcion('perfil');"><span
                            class="glyphicon glyphicon-user"> Mi Perfil</span></a>
                </li>
                <li style="cursor: pointer;">
                    <a style="border-color: red;" ng-click="irOpcion('login');"
                        class="glyphicon glyphicon-log-out"><span> Salir</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>