<div id="contenedor" class="contenedor center-block">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="menu.html" class="hvr-backward">
                    <img src="img/icon-atras.png" class="icon-cabecera" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">CREAR GUÍA DE DESPACHO</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="index.html" class="hvr-forward">
                    <img src="img/icon-salir.png" class="icon-cabecera" />
                </a>
            </div>
        </div>
    </div>
    </br></br>

    <form id='hacegd' method="" action="">
        <div ng-repeat="item in CREARGUIA">
            <div class="row">
                <div class="{{item.class}}">
                    <center>
                        <span class="{{item.campo.class}}">{{item.campo.titulo}}</span><br>
                        <input type="{{item.input.type}}" ng-model="{{item.input.ngModel}}" class="{{item.input.class}}"
                            style="{{item.input.style}}">
                    </center>
                </div>
            </div>
            <br>
            <div class="row" ng-show="{{item.boton.buscar}}">
                <div class="{{item.boton.class}}" style="{{item.boton.style}}">
                    <button class="btn-medium-stretch hvr-shrink" style="margin-top:0px !important;">
                        <img src="{{item.boton.img.icon}}" class="{{item.boton.img.class}}">
                        <span class="{{item.boton.span.class}}" style="{{item.boton.span.style}}">{{item.boton.span.texto}}</span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                <center>
                    <span class="lbl-campos">Num. Guía</span><br>
                    <input type="text" class="input_small" placeholder="123456" disabled>
                </center>
            </div>
            <div class="col-xs-3 col-md-3">
                <center>
                    <span class="lbl-campos">Fecha</span><br>
                    <input type="text" class="input_small" placeholder="12/12/2018" disabled>
                </center>
            </div>
            <div class="col-xs-6 col-md-6">
                <center>
                    <span class="lbl-campos">Empresa</span><br>
                    <input type="text" class="input_medium" placeholder="Empresa 1" disabled>
                </center>
            </div>
        </div>
        <hr>
        <center>
            <h2>DETALLE</h2>
        </center>
        <div class="container-tabla center-block table-responsive">
            <div class="datagrid ">
                <table>
                    <thead>
                        <tr>
                            <th>CANTIDAD</th>
                            <th>MATERIAL</th>
                            <th>P. UNITARIO</th>
                            <th>TOTAL</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="input_small-stretch">
                            </td>
                            <td>
                                <select name="material" class="combo-medium-stretch">
                                    <option value="elija">-- Seleccione Material --</option>
                                    <option value="sardina">Sardina</option>
                                    <option value="anchoveta">Anchoveta</option>
                                    <option value="salmon">Salmón</option>
                                    <option value="merluza">Merluza</option>
                                </select>
                            </td>
                            <td>123</td>
                            <td>123000</td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-borrar.png" class="hvr-shrink">
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-mas.png" class="hvr-shrink">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="input_small-stretch">
                            </td>
                            <td>
                                <select name="material" class="combo-medium-stretch">
                                    <option value="elija">-- Seleccione Material --</option>
                                    <option value="sardina">Sardina</option>
                                    <option value="anchoveta">Anchoveta</option>
                                    <option value="salmon">Salmón</option>
                                    <option value="merluza">Merluza</option>
                                </select>
                            </td>
                            <td>123</td>
                            <td>123000</td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-borrar.png" class="hvr-shrink">
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-mas.png" class="hvr-shrink">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="input_small-stretch">
                            </td>
                            <td>
                                <select name="material" class="combo-medium-stretch">
                                    <option value="elija">-- Seleccione Material --</option>
                                    <option value="sardina">Sardina</option>
                                    <option value="anchoveta">Anchoveta</option>
                                    <option value="salmon">Salmón</option>
                                    <option value="merluza">Merluza</option>
                                </select>
                            </td>
                            <td>123</td>
                            <td>123000</td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-borrar.png" class="hvr-shrink">
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="img/btn-mas.png" class="hvr-shrink">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button id="btnok" name="btnok" class="btn-medium center-block" style="margin-bottom:10px;">
                    <img src="img/icon-ok.png" class="icon-btn">
                    <span class="lbl-btn-stretch" style="margin-top: 7px;">ACEPTAR</span>
                </button>
            </div>
        </div>
    </form>
    <br><br>
</div>