<!-- <div class="body-rtl">
  <div class="body body-s fade-in5">
    <form action="dashboard.html" id="goplicity-form-login" class="goplicity-form" style="width: 160%;">
      <div class="header-logo">
        <center>
          <img src="img/logo2.png" style="max-width: 150px;">
        </center>
      </div>
      <div class="header-txt">
        Acceso A USUARIOS
      </div>
      <fieldset>
        <section>
          <div class="row">
            <label class="label col col-3" style="text-align: right;font-size: 15px;">Usuario</label>
            <div class="col col-9">
              <label class="input">
                <i class="icon-append icon-user"></i>
                <input type="text" name="user" ng-model="user.user" />
              </label>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <label class="label col col-3" style="text-align: right;font-size: 15px;">Clave</label>
            <div class="col col-9">
              <label class="input">
                <i class="icon-append icon-lock"></i>
                <input type="password" name="password" ng-model="user.pass" />
              </label>
            </div>
          </div>
        </section>
      </fieldset>
      <footer>
        <a ng-click="logear()" class="button">Ingresar</a>
      </footer>
    </form>
  </div>
</div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<style>

  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
    height: 100vh;
  }

  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #eaeaeac4;
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
</style>

<div id="login">
  <h3 class="text-center text-white pt-5"></h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12 fade-in5" style="height: 370px;width: 350px;border-radius: 15px">
          <div class="header-logo" style="padding-top: 30px;">
            <center>
              <img src="img/logo2.png" style="max-width: 150px;">
            </center>
            <form id="login-form" class="form" style="padding: 0px; margin-top: 13px;">
              <div class="form-group">
                <label for="username" class="text-info" style="color:  rgb(49, 49, 49) !important;
                  font-size: 15px; font-weight: bold;">USUARIO</label><br>
                <input type="text" name="username" id="username" class="form-control" ng-model="user.user"
                  style="font-size: 15px;">
              </div>
              <div class="form-group">
                <label for="password" class="text-info" style="color: rgb(49, 49, 49) !important;
                  font-size: 15px;font-weight: bold;">CONTRASEÑA</label><br>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.pass"
                  style="font-size: 15px;">
              </div>
              <div class="form-group">
                <button type="button" type="submit" class="btn btn-danger" ng-click="logear()"
                  style="float: right!important; padding: 4px; font-size: 15px;">
                  Ingresar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ag1-alert oalert="alert"></ag1-alert>
