<div>
    <row-header row="cabecera"></row-header>
    <div class="body body-xl fade-in5">
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>Administración</span> de Nivel Academico
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-4 col-sm-4 col-md btn btn-secondary" style="padding: 3px;"
                            ng-click="volver()">
                            Volver
                        </button>
                        <button type="button" class="col-xs-4 col-sm-4 btn btn-primary" style="padding: 3px;"
                            ng-click="loadData()">
                            Actualizar
                        </button>
                        <button type="button" class="col-xs-4 col-sm-4 btn btn-success" style="padding: 3px;"
                            ng-click="abrirFormularioUsuario('add', '')">
                            Agregar
                        </button>
                    </div>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <div class="bxMsj table-responsive">
                                <table class="table" ng-table="taskDetailTableParams" show-filter="true">
                                    <tr ng-repeat="item in $data">
                                        <td class="tdNewTable" data-title="'ID'" sortable="'id'"
                                            filter="{ 'id': 'number' }" style="width: 10%">
                                            {{item.id}}</td>
                                        <td class="tdNewTable" data-title="'NOMBRE'" sortable="'nombre'"
                                            style="width: 30%" filter="{ 'nombre': 'text' }">
                                            {{item.nombre}}</td>
                                        <td class="tdNewTable" data-title="'ESTADO'" sortable="'estado'"
                                            style="width: 20%" filter="{ 'estado': 'text' }">
                                            {{((item.estado == '1')?'Activo':'Inactivo')}}</td>
                                        <td class="tdNewTable" data-title="'EDITAR'" style="width: 20%">
                                            <button type="button" class="btn btn-primary" style="padding: 3px;"
                                                ng-click="abrirFormularioUsuario('edit', item)">Editar</button>
                                        </td>
                                        <td class="tdNewTable" data-title="'ELIMINAR'" style="width: 20%">
                                            <button type="button" class="btn btn-danger" style="padding: 3px;"
                                                ng-click="eliminar(item)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <!-- <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.items track by $index">
                                        <th>{{item.id}}</th>
                                        <th>{{item.nombre}}</th>
                                        <th>{{(item.estado == '1')?'Activo':'Inactivo'}}</th>
                                        <th>
                                            <button type="button" class="btn btn-primary" style="padding: 3px;"
                                                ng-click="abrirFormularioUsuario('edit', item)">Editar</button>
                                        </th>
                                        <th>
                                            <button type="button" class="btn btn-danger" style="padding: 3px;"
                                                ng-click="eliminar(item)">
                                                Eliminar
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table> -->
                            </div>
                    </section>
                </fieldset>
            </form>
        </section>
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>{{tituloFormularioUser}}</span> Nivel Academico
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-12 col-sm-12 col-md btn btn-secondary" style="padding: 3px;"
                            ng-click="volverTabla()">
                            Volver
                        </button>
                    </div>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos Nivel Academico</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Nombre</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Estado</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.estado" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaEstados track by item.value">
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                    <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
                </footer>
            </form>
        </section>
    </div>
    <ag1-alert oalert="alert"></ag1-alert>