<row-header row="cabecera"></row-header>
<div class="body body-xl  fade-in5">
    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>Administración</span> de Capacitaciones
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-4 col-sm-4 col-md btn btn-light" style="padding: 3px;"
                        ng-click="volver()">
                        Volver
                    </button>
                    <button type="button" class="col-xs-4 col-sm-4 btn btn-primary" style="padding: 3px;"
                        ng-click="loadData()">
                        Actualizar
                    </button>
                    <button type="button" class="col-xs-4 col-sm-4 btn btn-success" style="padding: 3px;"
                        ng-click="abrirFormularioUsuario('add', '')">
                        Agregar
                    </button>
                </div>
            </header>
            <fieldset>
                <section style="margin-top: 5px;">
                    <div class="table-responsive">
                        <table class="table" ng-table="taskDetailTableParams" show-filter="true">
                            <tr ng-repeat="item in $data">
                                <td class="tdNewTable" data-title="'ID'" sortable="'id'" filter="{ 'id': 'number' }"
                                    style="width: 5%">
                                    {{item.id}}</td>
                                <td class="tdNewTable" data-title="'GRUPO'" sortable="'grupo_capacitacion'"
                                    style="width: 34.5%" filter="{ 'grupo_capacitacion': 'text' }">
                                    {{item.grupo_capacitacion}}</td>
                                <td class="tdNewTable" data-title="'DESCRIPCIÓN'" sortable="'descripcion'"
                                    style="width: 34.5%" filter="{ 'descripcion': 'text' }">
                                    {{item.descripcion}}</td>
                                <td class="tdNewTable" data-title="'BASE'" sortable="'bdescripcion'" style="width: 20%"
                                    filter="{ 'bdescripcion': 'text' }">
                                    {{item.bdescripcion}}
                                </td>
                                <td class="tdNewTable" data-title="'EDITAR'" style="width: 20%">
                                    <button type="button" class="btn btn-primary" style="padding: 3px;"
                                        ng-click="abrirFormularioUsuario('edit', item)">
                                        Editar
                                    </button>
                                </td>
                                <td class="tdNewTable" data-title="'ELIMINAR'" style="width: 20%">
                                    <button type="button" class="btn btn-danger" style="padding: 3px;"
                                        ng-click="eliminar(item)">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </fieldset>
        </form>
    </section>
    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>{{tituloFormularioUser}}</span> Capacitacion
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-12 col-sm-12 col-md btn btn-light" style="padding: 3px;"
                        ng-click="volverTabla()">
                        Volver
                    </button>
                </div>
            </header>
            <fieldset>
                <div class="cabecera">
                    <h2>Datos Capacitacion</h2>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Grupo Capacitacion</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="capacitacion" id="capacitacion"
                                ng-model="data.formulario.grupo_capacitacion" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaGrupoCapacitacion track by item.value">
                            </select>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Capacitacion</label>
                        <label class="input">
                            <i class="icon-prepend icon-bookmark"></i>
                            <input type="text" name="fname" placeholder="Escriba aquí"
                                ng-model="data.formulario.descripcion" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">¿Es base?</label>
                        <select class="selectForm" name="capacitacion" id="capacitacion" ng-model="data.formulario.base"
                            placeholder="Seleccione aquí"
                            ng-options="item as item.text for item in base track by item.value">
                        </select>
                    </section>
                </div>
            </fieldset>
            <footer>
                <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
            </footer>
        </form>
    </section>
</div>
<ag1-alert oalert="alert"></ag1-alert>