<div>
    <row-header row="cabecera"></row-header>
    <div class="body body-xl  fade-in5">
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
            <form action="" class="goplicity-form">
                <header>
                    <span>Administración</span> de Departamentos
                    <a class="btnMn excel" ng-click="abrirFormularioUsuario('add', '')">
                        <i class="icon-user"></i> Agregar
                    </a>
                    <a class="btnMn" ng-click="loadData()">
                        <i class="icon-user"></i> Actualizar
                    </a>
                    <a class="btnMn back" ng-click="volver()">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.items track by $index">
                                        <th>{{item.id}}</th>
                                        <th>{{item.nombre}}</th>
                                        <th>{{(item.estado == '1')?'Activo':'Inactivo'}}</th>
                                        <th>
                                            <button type="button" class="btn btn-primary" style="padding: 3px;"
                                                ng-click="abrirFormularioUsuario('edit', item)">Editar</button>
                                        </th>
                                        <th>
                                            <button type="button" class="btn btn-danger" style="padding: 3px;"
                                                ng-click="eliminar(item)">
                                                Eliminar
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </fieldset>
            </form>
        </section>
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
            <form action="" class="goplicity-form">
                <header>
                    <span>{{tituloFormularioUser}}</span> Departamento
                    <a class="btnMn back" ng-click="volverTabla()">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos del Departamento</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Nombre</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Estado</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.estado" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaEstados track by item.value">
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                    <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
                </footer>
            </form>
        </section>
    </div>
    <ag1-alert oalert="alert"></ag1-alert>