<div>
    <row-header row="cabecera"></row-header>
    <div class="body body-xl  fade-in5">
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>Administración</span> de Profesores
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-4 col-sm-4 col-md btn btn-light" style="padding: 3px;"
                            ng-click="volver()">
                            Volver
                        </button>
                        <button type="button" class="col-xs-4 col-sm-4 btn btn-primary" style="padding: 3px;"
                            ng-click="loadData()">
                            Actualizar
                        </button>
                        <button type="button" class="col-xs-4 col-sm-4 btn btn-success" style="padding: 3px;"
                            ng-click="abrirFormularioUsuario('add', '')">
                            Agregar
                        </button>
                    </div>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <table class="table" ng-table="taskDetailTableParams" show-filter="true">
                                <tr ng-repeat="item in $data">
                                    <td class="tdNewTable" data-title="'RUT'" sortable="'id'" filter="{ 'rut': 'text' }"
                                        style="width: 12.5%">
                                        {{item.rut}}</td>
                                    <td class="tdNewTable" data-title="'NOMBRE'" sortable="'nombre'" style="width: 20%"
                                        filter="{ 'nombre': 'text' }">
                                        {{item.nombre}}</td>
                                    <td class="tdNewTable" data-title="'CORREO'" sortable="'correo'"
                                        style="width: 12.5%" filter="{ 'correo': 'text' }">
                                        {{item.correo}}</td>
                                    <td class="tdNewTable" data-title="'TELEFONO'" filter="{ 'telefono': 'text' }"
                                        sortable="'telefono'" style="width: 12.5%">
                                        {{item.telefono}}</td>
                                    <td class="tdNewTable" data-title="'ESTADO'" filter="{ 'estado': 'text' }"
                                        sortable="'Estado'" style="width: 5%">
                                        {{(item.estado == '1')?'Activo':'Inactivo'}}</td>
                                    <td class="tdNewTable" data-title="'CAPACITACIONES'" style="width: 12.5%">
                                        <button type="button" class="btn btn-success" style="padding: 3px;"
                                            ng-click="taerCapacitaciones(item)">
                                            Capacitaciones
                                        </button>
                                    </td>
                                    <td class="tdNewTable" data-title="'EDITAR'">
                                        <button type="button" class="btn btn-primary" style="padding: 3px;"
                                            ng-click="abrirFormularioUsuario('edit', item)">Editar</button>
                                    </td>
                                    <td class="tdNewTable" data-title="'ELIMINAR'" style="width: 12.5%">
                                        <button type="button" class="btn btn-danger" style="padding: 3px;"
                                            ng-click="eliminar(item)">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </fieldset>
            </form>
        </section>
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>{{tituloFormularioUser}}</span> Profesor
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-12 col-sm-12 col-md btn btn-light" style="padding: 3px;"
                            ng-click="volverTabla()">
                            Volver
                        </button>
                    </div>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos del Profesor</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">RUT</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" ng-model="data.formulario.rut"
                                    placeholder="Ingresar RUT sin guión (xxxxxxxxx)" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Nombre</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Correo</label>
                            <label class="input">
                                <i class="icon-prepend icon-envelope"></i>
                                <input type="email" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.correo" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Telefono</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.telefono" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Nivel Academico</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.nivel_academico" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaNivelAcademico track by item.value">
                                </select>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Departamento</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.departamento" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaDepartamentos track by item.value">
                                </select>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Estado</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.estado" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaEstados track by item.value">
                                </select>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.user" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Contraseña</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="password" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.pass" />
                            </label>
                            <a>La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una
                                minúscula y al menos una mayúscula. Puede tener otros símbolos.</a>
                        </section>
                        <section class="col col-6">
                            <label class="label">Perfil</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.profile" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaPerfil track by item.value">
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                    <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
                </footer>
            </form>
        </section>

        <!-- <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaEvaluacion">
            <form action="" class="goplicity-form">
                <header>
                    <span>Evaluaciones </span> del Profesor {{tituloEvalauciones}}
                    <a class="btnMn back" ng-click="volverTablaEvaluacion()">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">NRC</th>
                                        <th style="text-align: center;">FECHA</th>
                                        <th style="text-align: center;">P1</th>
                                        <th style="text-align: center;">P2</th>
                                        <th style="text-align: center;">P3</th>
                                        <th style="text-align: center;">P4</th>
                                        <th style="text-align: center;">P5</th>
                                        <th style="text-align: center;">P6</th>
                                        <th style="text-align: center;">P7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaEvaluaciones track by $index">
                                        <th style="text-align: center;">{{item.nrc}}</th>
                                        <th style="text-align: center;">{{item.fecha}}</th>
                                        <th style="text-align: center;">{{item.p1}}</th>
                                        <th style="text-align: center;">{{item.p2}}</th>
                                        <th style="text-align: center;">{{item.p3}}</th>
                                        <th style="text-align: center;">{{item.p4}}</th>
                                        <th style="text-align: center;">{{item.p5}}</th>
                                        <th style="text-align: center;">{{item.p6}}</th>
                                        <th style="text-align: center;">{{item.p7}}</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr style="font-weight: bold;color: black;">
                                        <th colspan="2" style="text-align: right;">PROMEDIO</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[0]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[1]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[2]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[3]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[4]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[5]/listaEvaluaciones.length)}}</th>
                                        <th style="text-align: center;">
                                            {{(listaEvaluacionesPromedio[6]/listaEvaluaciones.length)}}</th>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr style="font-weight: bold;color: black;">
                                        <th colspan="9" style="text-align: center;font-size: 20px;">PUNTAJE TOTAL
                                            {{(listaEvaluacionesPromedio[0]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[1]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[2]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[3]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[4]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[5]/listaEvaluaciones.length)+(listaEvaluacionesPromedio[6]/listaEvaluaciones.length)}}
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </fieldset>
            </form>
            <div style="background-color: white;padding: 30px; width: 100%; margin-top: 20px;">
                <div id="chart_div" style="width: 1000px; height: 500px;"></div>
            </div>
        </section> -->

        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="vistaCapacitaciones">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>Learning </span> path del profesor {{profesorSeleccionado}}
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-12 col-sm-12 col-md-12 btn btn-light" style="padding: 3px;"
                            ng-click="volverTablaEvaluacion()">
                            Volver
                        </button>
                    </div>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;" ng-repeat="grupo in listaGrupoCapacitacion track by $index">
                        <div>
                            {{grupo.text}}
                            <button type="button" class="btn btn-danger" ng-click="verGrupo(grupo)"
                                style="padding: 4px;float: right!important; margin-top: -10px;">
                                Ver Avance
                            </button>
                        </div>
                    </section>
                </fieldset>
            </form>
        </section>

        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="vistaCapacitaciones">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>Capacitacion </span> del Profesor {{profesorSeleccionado}}
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class="col-xs-6 col-sm-6 btn btn-primary" style="padding: 3px;"
                            ng-click="actualizarCapacitaciones()">
                            Actualizar
                        </button>
                        <button type="button" class="col-xs-6 col-sm-6 btn btn-success" style="padding: 3px;"
                            ng-click="abrirFormularioCapacitacion()">
                            Agregar
                        </button>
                    </div>
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">ID</th>
                                        <th style="text-align: center;">FECHA</th>
                                        <th style="text-align: center;">NOMBRE CAPACITACION</th>
                                        <th style="text-align: center;">INSTITUCION</th>
                                        <th style="text-align: center;">HORAS</th>
                                        <th style="text-align: center;">ESTADO</th>
                                        <th style="text-align: center;">VER DOCUMENTO</th>
                                        <th style="text-align: center;">ELIMINAR CAPACITACION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.itemsCapacitaciones track by $index">
                                        <th style="text-align: center;">{{item.id}}</th>
                                        <th style="text-align: center;">{{item.fecha | formatFecha}}</th>
                                        <th style="text-align: center;">{{item.nombre_capacitacion}}</th>
                                        <th style="text-align: center;">{{item.institucion}}</th>
                                        <th style="text-align: center;"> {{((item.horas)?item.horas:0)}}</th>
                                        <th style="text-align: center;"> {{item.desEstado}}</th>
                                        <th style="text-align: center;">
                                            <button type="button" class="btn btn-success" style="padding: 3px;"
                                                ng-click="verDocumentoCapacitacion(item)">Documento
                                            </button>
                                        </th>
                                        <th style="text-align: center;">
                                            <button type="button" class="btn btn-danger" style="padding: 3px;"
                                                ng-click="eliminarCapacitacion(item)">
                                                Eliminar
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </fieldset>
            </form>
        </section>

        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewCapacitacion">
            <form action="" class="goplicity-form">
                <header>
                    <div>
                        <span>{{tituloFormularioUser}}</span> Capacitacion
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <button type="button" class=" col-xs-12 col-sm-12 col-md-12 btn btn-light" style="padding: 3px;"
                            ng-click="volverTablaCapacitaciones()">
                            Volver
                        </button>
                    </div>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos Capacitacion</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Capacitacion</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formularioCapacitacion.capacitacion" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaCapacitacion track by item.value">
                                </select>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Institucion</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formularioCapacitacion.institucion" />
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Cantidad Horas</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="number" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formularioCapacitacion.horas" />
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Documento</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <input id="inputFile" type="file" ng-model="data.formularioCapacitacion.documento"
                                    ng-blur="convertToBase64()" />
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a class="button" ng-show="mostrarGuardar" ng-click="agregarCapacitacion()">Guardar</a>
                </footer>
            </form>
        </section>
    </div>

    <div ng-show="mostrarDocumento" class=" fade-in5">
        <div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true"
            style="display: block;padding-right: 16px;">
            <div class="modal-dialog" style="margin-top: 60px;">
                <div class="modal-content" style="border-radius: 0px; box-shadow:0 3px 9px transparent;">
                    <div class="modal-header headerModal">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <span class="txt-cabecera"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="   font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                        color: #666666c4; padding: 30px;">
                            <section>
                                <center>
                                    <img src={{src}} style="max-width: 95%; margin-top: 30px;">
                                </center>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 footerModal">
                        <center>
                            <button type="button" class="btn btn-danger" ng-click="mostrarDocumento=false;">
                                <span class="lbl-btn-stretch" style="margin-top: 8px;">Cerrar</span>
                            </button>
                        </center>
                    </div>
                    </br>
                </div>
            </div>
        </div>
        <div style="    
                width: 100000px;
                height: 100000px;
                position: fixed;
                top: -1000px;
                left: -1000px;">
        </div>
    </div>
    <ag1-alert oalert="alert"></ag1-alert>