<row-header row="cabecera"></row-header>
<div class="body body-xl  fade-in5">
    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>LEARNING </span> PATH
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-12 col-sm-12 col-md-12 btn btn-light" style="padding: 3px;"
                        ng-click="volver()">
                        Volver
                    </button>
                </div>
            </header>
            <fieldset>
                <section style="margin-top: 5px;" ng-repeat="grupo in listaGrupoCapacitacion track by $index">
                    <div>
                        {{grupo.text}}
                        <button type="button" class="btn btn-danger" ng-click="verGrupo(grupo)"
                            style="padding: 4px;float: right!important; margin-top: -10px;">
                            Ver Avance
                        </button>
                    </div>
                </section>
            </fieldset>
        </form>
    </section>

    <section class="secTop" style=" margin-left: -20%; width: 140%; margin-top: 10px;" ng-show="tablaMantenedor">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>Administración</span> de Profesores
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class="col-xs-6 col-sm-6 btn btn-primary" style="padding: 3px;"
                        ng-click="loadData()">
                        Actualizar
                    </button>
                    <button type="button" class="col-xs-6 col-sm-6 btn btn-success" style="padding: 3px;"
                        ng-click="abrirFormularioUsuario('add', '')">
                        Agregar
                    </button>
                </div>
            </header>
            <fieldset>
                <section style="margin-top: 5px;">
                    <div class="table-responsive">
                        <table class="table" ng-table="taskDetailTableParams" show-filter="true">
                            <tr ng-repeat="item in $data">
                                <td class="tdNewTable" data-title="'ID'" sortable="'id'" filter="{ 'id': 'number' }">
                                    {{item.id}}</td>
                                <td class="tdNewTable" data-title="'DESCRIPCION'" sortable="'nombre_capacitacion'"
                                    style="width: 250px" filter="{ 'nombre_capacitacion': 'text' }">
                                    {{item.nombre_capacitacion}}</td>
                                <td class="tdNewTable" data-title="'HORAS'" filter="{ 'horas': 'number' }"
                                    sortable="'horas'" style="width: 100px" filter="{ 'horas': 'number' }">
                                    {{(item.horas)?item.horas:0}}</td>
                                <td class="tdNewTable" data-title="'FECHA INGRESO'" sortable="'fecha'"
                                    filter="{ 'fecha': 'text' }">
                                    {{item.fecha | date:'dd/MM/yyyy' }}</td>
                                <td class="tdNewTable" data-title="'ESTADO'" sortable="'desEstado'"
                                    filter="{ 'desEstado': 'text' }">
                                    {{item.desEstado}}</td>
                                <td class="tdNewTable" data-title="'Editar'">
                                    <button type="button" class="btn btn-success" style="padding: 3px;"
                                        ng-click="abrirFormularioUsuario('edit', item)">Editar
                                    </button>
                                </td>
                                <td class="tdNewTable" data-title="'DOCUMENTO'">
                                    <button type="button" class="btn btn-info" style="padding: 3px;"
                                        ng-click="verDocumento(item)">Documento
                                    </button>
                                </td>
                                <td class="tdNewTable" data-title="'ELIMINAR'">
                                    <button type="button" class="btn btn-danger" style="padding: 3px;"
                                        ng-click="eliminar(item)">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </fieldset>
        </form>
    </section>

    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>{{tituloFormularioUser}}</span> Capacitacion {{capacitacionSeleccionada}}
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-12 col-sm-12 col-md-12 btn btn-light" style="padding: 3px;"
                        ng-click="volverTabla()">
                        Volver
                    </button>
                </div>
            </header>
            <fieldset>
                <div class="cabecera">
                    <h2>Datos Capacitacion</h2>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col col-6" ng-show="!camposEditar">
                        <label class="label">Capacitacion</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="departamento" id="departamento"
                                ng-model="data.formulario.capacitacion" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaCapacitacion track by item.value">
                            </select>
                        </label>
                    </section>

                    <section class="col col-6">
                        <label class="label">Institucion</label>
                        <label class="input">
                            <i class="icon-prepend icon-phone"></i>
                            <input type="text" name="fname" placeholder="Escriba aquí"
                                ng-model="data.formulario.institucion" />
                        </label>
                    </section>

                    <section class="col col-6">
                        <label class="label">Cantidad Horas</label>
                        <label class="input">
                            <i class="icon-prepend icon-phone"></i>
                            <input type="number" name="fname" placeholder="Escriba aquí"
                                ng-model="data.formulario.horas" />
                        </label>
                    </section>

                    <section class="col col-6">
                        <label class="label">Estado</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="departamento" id="departamento"
                                ng-model="data.formulario.estado" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaEstadoCapacitacionProfe track by item.value">
                            </select>
                        </label>
                    </section>

                    <section class="col col-6">
                        <label class="label">Documento</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <input id="inputFile" type="file" ng-model="data.formulario.documento"
                                ng-blur="convertToBase64()" />
                        </label>
                    </section>
                </div>
            </fieldset>
            <footer>
                <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                <a class="button" ng-show="camposEditar" ng-click="editar()">Editar</a>
            </footer>
        </form>
    </section>
</div>
<ag1-alert oalert="alert"></ag1-alert>