<div class="login-window center-block" ng-app="appGuia">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <img src="img/logo.png" class="logo-login center-block" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <p class="txt-login">ACCESO USUARIOS</p>
        </div>
    </div>
    
    <!--
    <div class="col-xs-6 col-sm-6 col-md-6 migo" ng-show="!item.hide" ng-repeat="item in aceite.cabecera track by $index">
        <div ng-show="((['text', 'number'].indexOf(item.type) > -1) ? true : false)">
            <span class="lbl-campos">{{item.label||item.key}}</span><br>
            <input type="{{item.type}}" id="{{item.id}}" ng-model="item.ngModel" max="{{item.max}}" placeholder="{{item.placeholder}}"
                maxlength="{{item.max}}" class="input_small" ng-blur="fn(((item.fn)?item.fn:''),$index)" ng-disabled="item.disabled">
        </div>
        <div ng-show="((item.type === 'select') ? true : false)">
            <span class="lbl-campos">{{item.label||item.key}}</span><br>
            <select class="input_small" ng-model="item.ngModel" ng-options="horas as horas.text || horas.value for horas in item.options track by horas.value"
                ng-change="fn(item.fn,item.ngModel)">
                <option value=''>Seleccionar</option>
            </select>
        </div>
        <div ng-show="((['time', 'date'].indexOf(item.type) > -1) ? true : false)">
            <span class="lbl-campos">{{item.label||item.key}}</span><br>
            <input type="{{item.type}}" id="{{item.id}}" ng-model="item.ngModel" placeholder="{{item.placeholder}}"
                class="input_medium">
        </div>
    </div>
    -->
    
    <div class="row">
        <form action="" method="" id="login">
            <div class="col-md-12 col-xs-12 col-sm-12" ng-repeat="item in login track by $index">
                <input class="{{item.class}}" np-model="item.model" type="item.type" placeholder="{{item.placeholder}}"
                    style="{{item.style}}">
            </div>
            <button class="btn_ingreso center-block" ng-click="logear()">ENTRAR</button>
        </form>
    </div>
</div>
<alerts alerta="alerta"></alerts>