<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 migo">
        <center>
            <span class=" lbl-campos">{{client.title}}</span><br>
            <input ng-model="client.ngModel" type="text" class="input_large"
                style="margin: 0 10px !important; text-align: center;" id="{{client.id}}"
                placeholder="{{client.placeholder}}">
        </center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 migo" ng-repeat="item in client.items">
        <span class=" lbl-campos">{{item.title}}</span><br>
        <input ng-model="item.ngModel" type="{{item.type}}" class="input_large"
            style="margin: 0 10px !important; text-align: center;" placeholder="{{item.placeholder}}">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 migo" style="text-align:center;">
        <button ng-click="client.search();" id="btnsearch" name="btnsearch" class="btn-medium-stretch hvr-shrink"
            style="margin-top:0px !important;">
            <img src="img/icon-search.png" class="icon-btn">
            <span class="lbl-btn-stretch" style="margin:7px 10px 0 0;">BUSCAR</span>
        </button>
    </div>
</div>