<div id="contenedor" class="modal-guia-container center-block">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="txt-cabecera">GUIA MODIFICADA</span>
            </div>
        </div>
    </div>
    </br>
    <br>
    <div class="row center-block">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <img src="img/icon-dedoparriba.png" class="icon-btn">
                </br></br>
                <h1>Guía de Despacho modificada con éxito</h1>
            </center>
        </div>
    </div>
    </br></br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <button type="submit" id="enviaresumen" name="btnenviaresumen" class="btn-small center-block hvr-shrink" style="margin: 0 10px 10px 10px;">
                    <img src="img/icon-ok.png" class="icon-btn">
                    <span class="lbl-btn-stretch" style="margin-top: 8px;">ACEPTAR</span>
                </button>
            </center>
        </div>
    </div>
    </br></br></br>
</div>