<row-header row="cabecera"></row-header>
<div class="fade-in5">
    <section class="menubox" id="menuPrincipal" ng-show="datosUsuario.profile == '2'">
        <div class="grid">
            <h3 style="font-weight: bold;">Menu Profesor</h3>
            <center>
                <div class="box" ng-click="irOpcion('capacitacion')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Mis Capacitaciones</span></div>
                    </a>
                </div>
            </center>
        </div>
    </section>
    <section class="menubox" id="menuPrincipal" ng-show="datosUsuario.profile == '1'">
        <div class="grid">
            <h3 style="font-weight: bold;">Menu Administración</h3>
            <center>
                <div class="box" ng-click="irOpcion('profesor')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Profesores</span>
                        </div>
                    </a>
                </div>
                <div class="box" ng-click="irOpcion('asignar_capacitacion')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 5px;">Asignacion Capacitaciones</span>
                        </div>
                    </a>
                </div>
            </center>

            <h3 style="font-weight: bold;">Menu Mantenedores</h3>
            <center>
                
                <div class="box" ng-click="irOpcion('grupo_capacitacion')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Grupo Capacitaciones</span>
                        </div>
                    </a>
                </div>
                <div class="box" ng-click="irOpcion('capacitacion')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Capacitaciones</span>
                        </div>
                    </a>
                </div>

                <div class="box" ng-click="irOpcion('departamento')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Departamentos</span>
                        </div>
                    </a>
                </div>
                <div class="box" ng-click="irOpcion('contrato')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Contratos</span>
                        </div>
                    </a>
                </div>
                <!-- <div class="box" ng-click="irOpcion('curso')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Cursos</span>
                        </div>
                    </a>
                </div> -->
                <div class="box" ng-click="irOpcion('nivel_academico')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Nivel Academico</span>
                        </div>
                    </a>
                </div>
            </center>
        </div>
    </section>

    <section class="menubox" id="menuPrincipal" ng-show="datosUsuario.profile == '0'">
        <div class="grid">
            <h3 style="font-weight: bold;">Menu</h3>
            <center>
                <div class="box" ng-click="irOpcion('mis_capacitaciones')" style="margin-top: 5px;">
                    <a>
                        <div class="icon-goplicity icon-agregar"></div>
                        <div class="btnbox" style="padding: 15px;">Mis Capacitaciones</span>
                        </div>
                    </a>
                </div>
            </center>
        </div>
    </section>
</div>
<ag1-alert oalert="alert"></ag1-alert>