<!--oalert.loading-->
<div ng-if="oalert.loading"
    style="width: 100000px; height: 100000px; position: fixed; background: #000000de; top: -1000px; left: -1000px;">
    <div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true"
        style="display: block;padding-right: 16px;">
        <div style="display: flex;
        justify-content: center;
        align-items: center;margin-top: 10%">
            <img src="img/loading.gif" />
        </div>
        <center style="margin-top: -120px; color: white;">
            <h1>CARGANDO...</h1>
        </center>
    </div>
</div>


<div ng-show="oalert.show">
    <div class="modal" id="basic" tabindex="-1" role="basic" aria-hidden="true"
        style="display: block;padding-right: 16px;">
        <div class="modal-dialog" style="margin-top: 60px;">
            <div class="modal-content" style="border-radius: 0px; box-shadow:0 3px 9px transparent;">
                <div class="modal-header headerModal">
                    <div class="row" ng-click="close()">
                        <div class="col-md-12 text-left">
                            <span class="txt-cabecera">{{oalert.title||'Respuesta'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="    font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                    color: #666666c4; padding: 30px;">
                        <section ng-click="clickMessage()">
                            {{oalert.message||''}}
                        </section>
                        <section ng-if="oalert.showInputValue">
                            {{oalert.message||''}}
                        </section>
                        <section ng-repeat="item in oalert.items" ng-click="item.click()">
                            {{oalert.message||''}}
                        </section>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 footerModal" style="margin-top:20px">
                    <center>
                        <button type="button" class="btn btn-primary" ng-click="oalert.print()"
                            ng-if="oalert.buttonPrint">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">IMPRIMIR</span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="oalert.newGuide()"
                            ng-if="oalert.buttonNewGuide">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">NUEVA GUÍA</span>
                        </button>
                        <button type="button" class="btn btn-success" ng-click="oalert.accept()"
                            ng-if="oalert.buttonAcept">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">ACEPTAR</span>
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="oalert.close()"
                            ng-if="oalert.buttonClose" style="border-color: gray;">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">CERRAR</span>
                        </button>
                    </center>
                </div>
                </br>
            </div>
        </div>
    </div>
    <div style="    
            width: 100000px;
            height: 100000px;
            position: fixed;
            top: -1000px;
            left: -1000px;">
    </div>
</div>


<div ng-show="oalert.success">
    <div class="modal" id="basic" tabindex="-1" role="basic" aria-hidden="true"
        style="display: block;padding-right: 16px;">
        <div class="modal-dialog" style="margin-top: 60px;">
            <div class="modal-content" style="border-radius: 0px; box-shadow:0 3px 9px transparent;">
                <div class="modal-header headerModal">
                    <div class="row" ng-click="close()">
                        <div class="col-md-12 text-left">
                            <span class="txt-cabecera">{{oalert.title||'Respuesta'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="   font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                    color: #666666c4; padding: 30px;">
                        <section>
                            <div ng-repeat="message in oalert.structMessage">
                                {{message.message||''}}
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 footerModal">
                    <center>
                        <button type="button" class="btn btn-secondary" ng-click="oalert.close()"
                            ng-if="oalert.buttonClose">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">CERRAR</span>
                        </button>

                        <button type="button" class="btn btn-secondary" ng-click="oalert.verPdf()"
                            ng-if="oalert.buttonPrint">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">VER PDF</span>
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="oalert.verCedible()"
                            ng-if="oalert.buttonPrint">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">VER CEDIBLE</span>
                        </button>
                    </center>
                </div>
                </br>
            </div>
        </div>
    </div>
    <div style="    
            width: 100000px;
            height: 100000px;
            position: fixed;
            top: -1000px;
            left: -1000px;">
    </div>
</div>

<div ng-show="oalert.learningPath">
    <div class="modal fade-in5" id="basic" tabindex="-1" role="basic" aria-hidden="true"
        style="display: block;padding-right: 16px;">
        <div class="modal-dialog" style="margin-top: 60px;">
            <div class="modal-content" style="border-radius: 0px; box-shadow:0 3px 9px transparent; width: 150%;
            margin-left: -180px;">
                <div class="modal-header headerModal">
                    <div class="row" ng-click="close()">
                        <div class="col-md-12 text-left">
                            <span class="txt-cabecera">{{oalert.title||'Respuesta'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="   font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                    color: #666666c4; padding: 30px;">
                        <section>
                            <div ng-repeat="item in oalert.learningPathItems track by $index"
                                class="col-xs-3 col-sm-3 col-md-3"
                                style="background-color: {{item.background}}; border: solid 1px #00000069;min-height: 150px; color: black">
                                {{item.text}}
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 footerModal">
                    <center>
                        <button type="button" class="btn btn-secondary" ng-click="oalert.learningPath = false">
                            <span class="lbl-btn-stretch" style="margin-top: 8px;">CERRAR</span>
                        </button>
                    </center>
                </div>
                </br>
            </div>
        </div>
    </div>
    <div style="    
            width: 100000px;
            height: 100000px;
            position: fixed;
            top: -1000px;
            left: -1000px;">
    </div>
</div>