<div id="contenedor" class="contenedor center-block">
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:left;">
                <a href="index.html" class="hvr-backward">
                    <img src="img/icon-atras.png" class="icon-cabecera" />
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                <span class="txt-cabecera">MENÚ PRINCIPAL</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:right;">
                <a href="index.html" class="hvr-forward">
                    <img src="img/icon-salir.png" class="icon-cabecera" />
                </a>
            </div>
        </div>
    </div>
    </br></br></br></br></br></br>
    <div class="row">
        <center>
            <div class="col-sm-6 col-md-6" ng-repeat="mns in menu">
                <a href="{{mns.ruta}}" class="hvr-bob">
                    <img src="{{mns.icon}}">
                </a>
                <!--
                <a href="{{mns.ruta}}" class="hvr-bob" ng-click="((mns.click)?alerta.call(mns.fn.name,mns.fn.type,mns.fn.message):'')">
                    <img src="{{mns.icon}}">
                </a>
                -->
            </div>
        </center>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br>
</div>
<alerts alerta="alerta"></alerts>