<div ng-if="detail.viewTable">
    <br>
    <hr>
    <center>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-12 col-xs-12">
                <h2>{{detail.title}}</h2>
            </div>
            <div></div>
            <img src="img/btn-mas.png" class="hvr-shrink" ng-click="detail.addItem()"
                style="float: right; margin-right: 62px; margin-top: -30px;" ng-show="detail.bottomAdd">
        </div>
    </center>
    <div class="container-tabla center-block table-responsive">
        <div class="datagrid">
            <table ng-init='configPages(true)' id="sample_editable_1" role="grid"
                aria-describedby="sample_editable_1_info">
                <thead>
                    <tr>
                        <th ng-repeat="item in detail.headerTable track by $index">
                            {{item.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in detail.items | startFromGrid: currentPage[1] * pageSize[1] | limitTo: pageSize[1] track by $index"
                        ng-init="detailItem = $index">
                        <td ng-repeat="struct in detail.headerTable track by $index">
                            <div ng-if="((['text', 'number'].indexOf(struct.type) > -1) ? true : false)">
                                <input type="{{struct.type}}" ng-model="item[struct.ngModel]" max="{{struct.max}}"
                                    placeholder="{{struct.placeholder}}" maxlength="{{struct.max}}"
                                    class="input_small-stretch">
                            </div>

                            <div ng-if="((struct.type === 'select' && struct.ngModel=='tipoMat') ? true : false)">
                                <select class="input_small-stretch " ng-model="item.tipoMat"
                                    ng-change="detail.loadMaterial(detailItem)"
                                    ng-options="option as option.value || option.value for option in item.opcionTipoMaterial">
                                </select>
                            </div>
                            <div ng-if="((struct.type === 'select' && struct.ngModel=='mat') ? true : false)">
                                <select class="input_small-stretch " ng-model="item.mat"
                                    ng-options="option as option.MAKTX || option.MAKTX for option in item.optionMateriales">
                                </select>
                            </div>
                            <!--
                            <div ng-if="((struct.ngModel === 'tipoMat') ? true : false)">
                                <input type="text" ng-model="item[struct.ngModel]" placeholder="{{struct.placeholder}}"
                                    class="input_small-stretch tipoMat" ng-blur="detail.loadMaterial(detailItem)">
                            </div>
                            <div ng-if="((struct.ngModel === 'mat') ? true : false)">
                                <input type="text" ng-model="item[struct.ngModel]" placeholder="{{struct.placeholder}}"
                                    class="input_small-stretch mat">
                            </div>
                            -->
                            <div ng-if="((['time', 'date'].indexOf(struct.type) > -1) ? true : false)">
                                <input type="{{struct.type}}" ng-model="item[struct.ngModel]"
                                    placeholder="{{struct.placeholder}}" class="input_medium">
                            </div>
                            <div ng-if="((struct.ngModel === 'pUnitario') ? true : false)">
                                {{item[struct.ngModel]}}
                            </div>
                            <div ng-if="((struct.ngModel === 'total') ? true : false)">
                                {{item[struct.ngModel]}}
                            </div>
                            <div ng-if="((struct.ngModel === 'nombEmpresa') ? true : false)">
                                {{item.NAME1}}
                            </div>
                            <div ng-if="((struct.ngModel === 'numGd') ? true : false)">
                                {{item.XBLNR}}
                            </div>
                            <div ng-if="((struct.ngModel === 'fecha') ? true : false)">
                                {{item.LFDAT}}
                            </div>
                            <div ng-if="((struct.type === 'buttomDetete') ? true : false)">
                                <img src="img/btn-borrar.png" class="hvr-shrink"
                                    ng-click="detail.deleteItem(detailItem)">
                            </div>
                            <div ng-if="((struct.type === 'buttomViewGD') ? true : false)">
                                <img src="img/icon-ver.png" class="hvr-shrink" ng-Click="detail.viewGuide(item)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="item.items" class="pagination-sm">
        </pagination>
    -->
        </div>
        <center style="margin-top: 10px" aria-label="paginador" ng-if="(detail.items.length>0)?true: false">
            <div class='btn-group' ng-if="detail.pagination">
                <button type='button' class='btn btn-default' ng-disabled='currentPage[1] === 0'
                    ng-click='setPage(1,1)'>&laquo;</button>
                <button type='button' class='btn btn-default' ng-repeat='page in pages[0]'
                    ng-disabled='currentPage[1] === page.no - 1 || page.tresPV' ng-click='setPage(page.no,1)'
                    ng-hide="page.vsbl">{{((page.tresPV)?page.tresP:page.no)}}</button>
                <button type='button' class='btn btn-default'
                    ng-disabled='currentPage[1] >detail.items.length/pageSize[1] - 1'
                    ng-click='setPage(FIN,1)'>&raquo;</button>
            </div>
        </center>
    </div>

    <div class="row" style="margin-top: 5px" ng-if="detail.bottomAccept">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <button type="button" id="btnok" name="btnok" class="btn-medium center-block" style="margin-bottom:10px;"
                ng-click="detail.accept()">
                <img src="img/icon-ok.png" class="icon-btn">
                <span class="lbl-btn-stretch" style="margin-top: 7px;">ACEPTAR</span>
            </button>
        </div>
    </div>
</div>
<ag1-alert oalert="alert"></ag1-alert>