<div>
    <row-header row="cabecera"></row-header>
    <div class="body body-xl">
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
            <form action="" class="goplicity-form">
                <header>
                    <span>Administración</span> de Profesores
                    <!--
                    <a class="btnMn excel" href="cargar-excel.html" ng-click="abrirFormExcel()">
                        <i class="icon-file"></i> Cargar Excel
                    </a>
                    -->
                    <a class="btnMn excel" ng-click="abrirFormularioUsuario('add', '')">
                        <i class="icon-user"></i> Agregar
                    </a>
                    <a class="btnMn" ng-click="loadData()">
                        <i class="icon-user"></i> Actualizar
                    </a>
                    <!--<a class="btnMn excel" href="cargar-excel.html" ng-click="descargarUsuarios()"
                        ng-show="(datosUsuario.perfil == '0')?'true':'false'">
                        <i class="icon-file"></i> Descargar Usuarios
                    </a>
                    -->
                </header>
                <fieldset>
                    <section style="margin-top: 5px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Telefono</th>
                                        <th>Departamento</th>
                                        <th>Estado</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.items track by $index">
                                        <th>{{item.id}}</th>
                                        <th>{{item.nombre}}</th>
                                        <th>{{item.apellidos}}</th>
                                        <th>{{item.correo}}</th>
                                        <th>{{item.telefono}}</th>
                                        <th>{{item.departamento}}</th>
                                        <th>{{item.estado}}</th>
                                        <th>
                                            <button type="button" class="btn btn-primary" style="padding: 3px;"
                                                ng-click="abrirFormularioUsuario('edit', item)">Editar</button>
                                        </th>
                                        <th>
                                            <button type="button" class="btn btn-danger" style="padding: 3px;"
                                                ng-click="eliminar(item)">
                                                Eliminar
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </fieldset>
            </form>
        </section>
        <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
            <form action="" class="goplicity-form">
                <header>
                    <span>{{tituloFormularioUser}}</span> Profesor
                    <a class="btnMn back" ng-click="volverTabla()">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </header>
                <fieldset>
                    <div class="cabecera">
                        <h2>Datos deL Profesor</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Nombre</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Apellidos</label>
                            <label class="input">
                                <i class="icon-prepend icon-bookmark"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.apellidos" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Correo</label>
                            <label class="input">
                                <i class="icon-prepend icon-envelope"></i>
                                <input type="email" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.correo" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Telefono</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.telefono" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Departamento</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <select class="selectForm" name="departamento" id="departamento"
                                    ng-model="data.formulario.departamento" placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaDepartamentos track by item.value">
                                </select>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Estado</label>
                            <label class="input">
                                <i class="icon-prepend icon-folder-close"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.estado" />
                            </label>
                        </section>
                    </div>
                </fieldset>
                <!-- <fieldset>
                    <div class="cabecera">
                        <h2>Datos de Usuario</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.usuario" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Nombre usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.nombre" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Correo del usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-envelope"></i>
                                <input type="email" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.correo" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Teléfono del usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-phone"></i>
                                <input type="tel" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.telefono" />
                            </label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="cabecera">
                        <h2>Función del usuario</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Función del usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.funcion" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Perfil del usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <select class="selectForm" name="tipoGuia" id="perfil" ng-model="data.formulario.perfil"
                                    placeholder="Seleccione aquí"
                                    ng-options="item as item.text for item in listaPerfiles track by item.value">
                                    Seleccione aquí
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="cabecera">
                        <h2>Contraseñas</h2>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="label">Contraseña usuario</label>
                            <label class="input">
                                <i class="icon-prepend icon-lock"></i>
                                <input type="password" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.clave" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Usuario SAP</label>
                            <label class="input">
                                <i class="icon-prepend icon-user"></i>
                                <input type="text" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.usuario_sap" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">Contraseña SAP</label>
                            <label class="input">
                                <i class="icon-prepend icon-lock"></i>
                                <input type="password" name="fname" placeholder="Escriba aquí"
                                    ng-model="data.formulario.clave_sap" />
                            </label>
                        </section>
                    </div>
                </fieldset>
            -->
                <footer>
                    <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                    <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
                </footer>
            </form>
        </section>
        <div class="body body-xl" ng-show="formExcel">
            <section class="secTop" style=" margin-left: -20%; width: 140%;">
                <form action="" class="goplicity-form">
                    <header>
                        <span>Cargar Usuarios</span> desde Excel
                        <a class="btnMn back" ng-click="cerrarFormExcel()">
                            <i class="icon-arrow-left"></i>
                            Volver
                        </a>
                    </header>
                    <fieldset>
                        <section>
                            <label class="label">Archivo Excel</label>
                            <label for="file" class="input input-file">
                                <div class="button excel"><input type="file" id="fileImport" ng-model="fileImport"
                                        ng-blur="cargarExcel()"
                                        onchange="this.parentNode.nextSibling.value = this.value" />Buscar Archivo</div>
                                <input type="text" readonly="" />
                            </label>
                            <div class="note"><strong>Nota:</strong> Formatos aceptados XLS, CSV</div>
                        </section>
                    </fieldset>
                    <footer>
                        <a href="resultado.html" class="button" ng-click="Envio_Datos()">Cargar</a>
                    </footer>
                </form>
            </section>
        </div>
    </div>
    <ag1-alert oalert="alert"></ag1-alert>