<row-header row="cabecera"></row-header>
<div class="body body-xl  fade-in5">
    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="tablaMantenedor">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>Administración</span> de Capacitaciones
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-4 col-sm-4 col-md btn btn-light" style="padding: 3px;"
                        ng-click="volver()">
                        Volver
                    </button>
                    <button type="button" class="col-xs-4 col-sm-4 btn btn-primary" style="padding: 3px;"
                        ng-click="loadData()">
                        Actualizar
                    </button>
                    <button type="button" class="col-xs-4 col-sm-4 btn btn-success" style="padding: 3px;"
                        ng-click="abrirFormularioUsuario('add', '')">
                        Agregar
                    </button>
                </div>
            </header>
            <fieldset>
                <section style="margin-top: 5px;">
                    <div class="table-responsive">
                        <table class="table" ng-table="taskDetailTableParams" show-filter="true">
                            <tr ng-repeat="item in $data">
                                <td class="tdNewTable" data-title="'ID'" sortable="'id'" filter="{ 'id': 'number' }"
                                    style="width: 5%">
                                    {{item.id}}</td>
                                <td class="tdNewTable" data-title="'RUT'" sortable="'id_profesor'" style="width: 12.5%"
                                    filter="{ 'id_profesor': 'text' }">
                                    {{item.id_profesor}}</td>
                                <td class="tdNewTable" data-title="'NOMBRE'" sortable="'nombre_profesor'"
                                    style="width: 20%" filter="{ 'nombre_profesor': 'text' }" style="width: 20%">
                                    {{item.nombre_profesor}}</td>
                                <td class="tdNewTable" data-title="'DESCRIPCION'" sortable="'nombre_capacitacion'"
                                    style="width: 20%" filter="{ 'nombre_capacitacion': 'text' }" style="width: 20%">
                                    {{item.nombre_capacitacion}}</td>
                                <td class="tdNewTable" data-title="'HORAS'" filter="{ 'horas': 'number' }"
                                    sortable="'horas'" style="width: 5%">
                                    {{item.horas}}</td>
                                <td class="tdNewTable" data-title="'ESTADO'" filter="{ 'desEstado': 'text' }"
                                    sortable="'desEstado'" style="width: 5%">
                                    {{item.desEstado}}</td>
                                <td class="tdNewTable" data-title="'FECHA INGRESO'" sortable="'fecha'"
                                    filter="{ 'fecha': 'text' }" style="width: 12.5%">
                                    {{item.fecha | date:'dd/MM/yyyy' }}</td>
                                <td class="tdNewTable" data-title="'Editar'" style="width: 12.5%">
                                    <button type="button" class="btn btn-success" style="padding: 3px;"
                                        ng-click="abrirFormularioUsuario('edit', item)">Editar
                                    </button>
                                </td>
                                <td class="tdNewTable" data-title="'DOCUMENTO'" style="width: 12.5%">
                                    <button type="button" class="btn btn-info" style="padding: 3px;"
                                        ng-click="verDocumento(item)">Documento
                                    </button>
                                </td>
                                <td class="tdNewTable" data-title="'ELIMINAR'" style="width: 12.5%">
                                    <button type="button" class="btn btn-danger" style="padding: 3px;"
                                        ng-click="eliminar(item)">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </fieldset>
        </form>
    </section>
    <section class="secTop" style=" margin-left: -20%; width: 140%;" ng-show="formNewUser">
        <form action="" class="goplicity-form">
            <header>
                <div>
                    <span>{{tituloFormularioUser}}</span> Capacitacion
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="button" class=" col-xs-12 col-sm-12 col-md btn btn-light" style="padding: 3px;"
                        ng-click="volverTabla()">
                        Volver
                    </button>
                </div>
            </header>
            <fieldset>
                <div class="cabecera">
                    <h2>Datos Capacitacion</h2>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col col-6" ng-show="!camposEditar">
                        <label class="label">Profesor</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="departamento" id="departamento"
                                ng-model="data.formulario.profesor" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaProfesores track by item.value">
                            </select>
                        </label>
                    </section>
                    <section class="col col-6" ng-show="!camposEditar">
                        <label class="label">Capacitacion</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="departamento" id="departamento"
                                ng-model="data.formulario.capacitacion" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaCapacitacion track by item.value">
                            </select>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Institucion</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <input type="text" name="fname" placeholder="Escriba aquí"
                                ng-model="data.formulario.institucion" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Cantidad Horas</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <input type="number" name="fname" placeholder="Escriba aquí"
                                ng-model="data.formulario.horas" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Estado</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <select class="selectForm" name="estado" id="estado"
                                ng-model="data.formulario.estado" placeholder="Seleccione aquí"
                                ng-options="item as item.text for item in listaEstadoCapacitacion track by item.value">
                            </select>
                        </label>
                    </section>
                    <section class="col col-12">
                        <label class="label">Nuevo Documento</label>
                        <label class="input">
                            <i class="icon-prepend icon-user"></i>
                            <input id="inputFile" type="file" ng-model="data.formulario.documento"
                                ng-blur="convertToBase64()" />
                        </label>
                    </section>
                    <section class="col col-6" ng-show="camposEditar">
                        <label class="label">Ver Documento Subido</label>
                        <label class="input">
                            <button type="button" class="btn btn-info" style="padding: 3px;width: 150px!important;"
                                ng-click="verDocumentoEdit()">Abrir
                            </button>
                        </label>
                    </section>
                </div>
            </fieldset>
            <footer>
                <a class="button" ng-show="mostrarGuardar" ng-click="agregar()">Guardar</a>
                <a class="button" ng-show="mostrarEditar" ng-click="editar()">Editar</a>
            </footer>
        </form>
    </section>
</div>
<ag1-alert oalert="alert"></ag1-alert>